name: CML Iris Training

on:
  push:
    branches: ["main"]

jobs:
  train-and-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run training script
        run: python train.py

      - name: Install CML
        uses: iterative/setup-cml@v2

      - name: Post CML Report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Token auto fourni
        run: |
          cml comment create report.md
